body{font-size:13px; font-family: 'Manrope', sans-serif;}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
<<<<<<< HEAD
<<<<<<< Updated upstream
.container{display:flex;}
.dresser-image{width:270px;
height:270px;}
.dresser-image img{max-width:100%;}
.preview{display:inline-block;}
=======
.container{display:flex;width:735px; height:275px;}
.dresser-image{min-width:270px;
min-height:270px;background-image:url("images/drawers.jpg")}

.preview{display:inline-block;padding-left:35px;}
>>>>>>> Stashed changes
=======
.container{display:flex;width:735px; height:275px;}
.dresser-image{min-width:270px;
min-height:270px;background-image:url("images/drawers.jpg")}

.preview{display:inline-block;padding-left:35px;}

.preview h1{font-family: 'Manrope',sans-serif; font-weight:700; color:#4E5765;}