body{font-size:13px; font-family: 'Manrope', sans-serif;}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
.container{display:flex;}
.dresser-image{width:270px;
height:270px;}
.preview h1{font-family: 'Manrope',sans-serif; font-weight:700;}